pciture and header back ground: #848484
body back ground: #D8D8D8
footer background:#1C1C1C


body {
	font-family: Arial, Helvettioa, sans-serif;
	background-color:#D8D8D8;
	border: solid 2px #1C1C1C;
}

header {
	background-color:white;
	color:#585858;
	margin-top:10pt;
	overflow:hidden;
	text-align:center;
	font-size:2em;
	font-weight:bold;
}

#right{
	border:solid 2px #585858;
	text-align:center;
	background-color:#848484;
	width:24%;
	float:right;
	overflow:hidden;
	padding:8px;
	
	
}

#left {
	border:solid 2px #585858;
	text-align:center;
	padding-top:10pt;
	background-color:#848484;
	float:left;
	width:24%;
	overflow:hidden;

}

#middle {
	border:solid 2px #585858;
	padding:20pt;
	background-color:#848484;
	width: 46%;
	overflow:hidden;
	font-size:1.25em;
}


footer {
	background-color:#1C1C1C;
	text-align:center;
	font-variant:small-caps;
	padding-bottom:20pt;
	padding-top:20pt;
	color:white;

}

#bar {
	background-color:#1C1C1C;
	overflow:hidden;
	font-size:0.6em;
}
	

ul#list { 
	list-style-type:none; 
	margin: 0 auto; 
	padding: 0px;
	

#list li { 
	display:block; 
	float:left; 
	font-weight:bold; 
	text-align:center; 
	font-variant:small-caps;
	padding:10px;
	text-align:center;
}


#list a:hover { 
	color: black; 
	background-color: #D8D8D8; 
	text-decoration: none; 
	}

